<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authors List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Authors List</h1>
        <form class="form inline mb-4" th:action="@{/authors}" method="get">
            <input type="text" class="form-control mr-2" name="search" placeholder="Search by name"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Author Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}">
                <td th:text="${author.authorId}"></td>
                <td th:text="${author.authorName}"></td>
                <td>
                    <a th:href="@{/authors/view/{id}(id=${author.authorId})}" class="btn btn-info">View</a>
                    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/authors/edit/{id}(id=${author.authorId})}" class="btn btn-primary">Edit</a>
                    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/authors/delete/{id}(id=${author.authorId})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/authors/create" class="btn btn-success">Create New Author</a>
        <a href="/admin/index" class="btn btn-success">Back to list</a>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
