<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Books List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">

  <h1 class="mb-4">Book List</h1>
  <form class="form-inline mb-4" th:action="@{/books}" method="get">
    <input type="text" class="form-control mr-2" name="search" placeholder="Search by title"/>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Book Name</th>
      <th>ISBN</th>
      <th>Price</th>
      <th>Language</th>
      <th>Page</th>
      <th>Publisher</th>
      <th>Authors</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.id}">1</td>
      <td th:text="${book.bookName}">Book Name</td>
      <td th:text="${book.ISBN}">123456789</td>
      <td th:text="${book.bookPrice}">19.99</td>
      <td th:text="${book.language}">English</td>
      <td th:text="${book.page}">200</td>
      <td th:text="${book.publisher.publisherName}">Publisher Name</td>
      <!--        <td th:text="${book.authors.authorName}">Author Names</td>-->
      <td>
        <ul>
          <li th:each="author : ${book.authors}" th:text="${author.authorName}">Author Name</li>
        </ul>
      </td>
      <td sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-primary btn-sm">Edit</a>
        <a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/books/create}" class="btn btn-success">Add New Book</a>
  <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:ref="" href="/admin/index" class="btn btn-success">Back to list</a>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
