<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
     <title>Book Store Home</title>
  </head>
  <body>
    <h1 th:text="${message}">Welcome to the Book Store</h1>
    <nav>
      <ul>
        <li><a th:href="@{/books}">Books</a></li>
        <li><a th:href="@{/authors}">Authors</a></li>
        <li><a th:href="@{/publishers}">Publishers</a></li>
      </ul>
    </nav>

    <form th:action="@{/logout}" method="post">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
