<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publishers List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Publisher List</h1>
        <form class="form-inline mb-4" th:action="@{/publishers}" method="get">
            <input type="text" class="form-control mr-2" name="search" placeholder="search by name">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
<!--                <th>ID</th>-->
                <th>Publisher Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="publisher : ${publishers}">
<!--                <td th:text="${publisher.id}"></td>-->
                <td th:text="${publisher.publisherName}"></td>
                <td>
                    <a th:href="@{/publishers/edit/{id}(id=${publisher.id})}" class="btn btn-warning btn-sm">Edit</a>
                    <a th:href="@{/publishers/delete/{id}(id=${publisher.id})}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>


        <a href="/publishers/create" class="btn btn-success">Create New Publisher</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
